{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 12
    },
    "rules": {
        "no-console": "error",
        "strict": "error",
        "semi": "off",
        "quotes": ["error", "single"]
    }
}
